//colors
$color-title: #4b4b56;
$color-hoverTitle: rgba(110, 110, 124, 0.63);
$color-black: #000000;
$color-calendar: #7BEEC7;
$color-lightgray: #60606E;
$color-footerGray: #9A9A9A;
$color-white: #FFFFFF;
$color-comment: #999999;
$color-placeholder: #CDCDCD;
$color-panel: #E5E5E5;
$color-panel-hover: #adabab;
$color-dark: #333333;
$color-hr: #383737;