 footer {
   width: 100%;
   display: flex;
   justify-content: space-around;

   & nav {
     margin-top: 46px;
     margin-right: 90px;
     margin-left: 13px;

     & a {
       text-decoration: none;
       font-size: 14px;
       font-family: 'Montserrat', sans-serif;
       color: $color-comment;
       letter-spacing: 0.1px;
       text-transform: uppercase;
     }
     & span {
       margin: 0 10px;
       color: $color-comment;
       font-size: 14px;

       font-family: 'Montserrat', sans-serif;
     }
   }
   & div {
     margin-top: 46px;
     & p {
       //font-family: 'Montserrat', sans-serif;
       font-family: 'Open Sans', Arial, sans-serif;
       letter-spacing: -0.1px;
       color: #9A9A9A;
       text-transform: uppercase;
       font-size: 14px;
       margin-bottom: 28px;
     }

     & .socials-list{
       justify-content: right;
       list-style-type: none;
       display: flex;

       &-item {
         color: #9A9A9A;
         margin-left: 8px;
         &-facebook {
           display: block;
           background: url("../assets/icons/logo-facebook.svg") no-repeat;
           width: 15px;
           height: 15px;
           margin-left: 10px;
         }
         &-twitter {
           display: block;
           background: url("../assets/icons/logo-twitter.svg") no-repeat;
           width: 15px;
           height: 15px;
           margin-left: 10px;
         }
         &-youtube {
           display: block;
           background: url("../assets/icons/logo-youtube.svg") no-repeat;
           width: 15px;
           height: 15px;
           margin-left: 10px;
         }
         &-linkedin {
           display: block;
           background: url("../assets/icons/logo-linkedin.svg") no-repeat;
           width: 15px;
           height: 15px;
           margin-left: 10px;
         }
         &-pinterest {
           display: block;
           background: url("../assets/icons/logo-pinterest.svg") no-repeat;
           width: 15px;
           height: 15px;
           margin-left: 10px;
         }
         &-instagram {
           display: block;
           background: url("../assets/icons/logo-instagram.svg") no-repeat;
           width: 15px;
           height: 15px;
           margin-left: 10px;
         }
       }
     }
   }
 }