@import "./_constants";

@media screen and (min-width:200px) and (max-width:768px) {

  .header {
    width: 480px;
    height: 300px;
    background: url("../assets/image/480-720 .png") no-repeat;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    color: $color-title;
    flex-shrink: 0;

    &-upBlock {
      width: 480px;
      height: 55px;
      padding-top: 10px;
      margin-bottom: 88px;
      display: flex;
      justify-content: space-between;
      flex-shrink: 0;

      & .header-upBlock-logo {
        padding-top: 10px;
      }
      & .header-upBlock-logo:hover a {
        background-color: $color-hoverTitle;
        border-radius: 13px;
        padding: 2px 5px;
      }

      & a {
        margin-left: 40px;
        text-decoration: none;
        text-transform:uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: $color-title;
      }

      &-menu {
        & div {
          width: 35px;
          height: 3px;
          background-color: $color-title;
          margin: 6px 0;
        }
        &:hover {
          background-color: $color-hoverTitle;
          padding: 1px;
        }
      }
    }

    & .title {
      width: 480px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & h1 {
        font-size: 24px;
        letter-spacing: -1px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
      }

      & p {

        & a{
          text-decoration: none;
          text-transform:uppercase;
          color: $color-title;
          font-family: 'Open Sans', Arial, sans-serif;
          font-weight: 700;
          font-size: 14px;
        }

        & a:first-child {
          margin-left: 5px;
          letter-spacing: 1.5px;
        }
        & a:hover {
          color: $color-hoverTitle;
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  .header {
    width: 100%;
    height: 500px;
    background: url("../assets/image/3434343434 -w .png") no-repeat;
    margin-bottom: 149px;
    display: flex;
    flex-direction: column;
    color: $color-title;

    &-upBlock {
      padding-top: 40px;
      margin-left: 80px;
      margin-right: 130px;
      margin-bottom: 186px;
      display: flex;
      justify-content: space-between;

      & a {
        text-decoration: none;
        text-transform:uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: $color-title;
      }


      &-menu {
        & div {
          width: 35px;
          height: 3px;
          background-color: $color-title;
          margin: 6px 0;
        }
        &:hover {
          background-color: $color-hoverTitle;
          border-radius: 4px;
          padding: 2px;
        }
      }
    }

    & .header-upBlock-logo:hover a {
      background-color: $color-hoverTitle;
      border-radius: 13px;
      padding: 2px 5px;
    }

    & .title {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      & h1 {
        font-size: 36px;
        letter-spacing: -1px;
        margin-left: 7px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
      }

      & p {

        & a{
          text-decoration: none;
          text-transform:uppercase;
          color: $color-title;
          font-family: 'Open Sans', Arial, sans-serif;
          font-weight: 700;
          font-size: 14px;
        }
        & a:first-child {
          margin-left: 5px;
          letter-spacing: 1.5px;
        }
        & a:hover {
          color: $color-hoverTitle;

        }
      }
    }
  }
}