@import "./_constants";

.posts {
  display: flex;
  justify-content: space-around;

  &-list {
    &-item {
      width: 752px;
      height: 712px;
      background-color: gray;
      margin-bottom: 20px;
    }
  }
}

.post {
  &-image {
    &-1 {
      width: 100%;
      height: 501px;
      background-image: url("../assets/image/Layer9@1X.png");
    }

    &-2 {
      width: 100%;
      height: 501px;
      background-image: url("../assets/image/Layer9@1X.png");
    }

    &-3 {
      width: 100%;
      height: 501px;
      background-image: url("../assets/image/Layer9@1X.png");
    }
  }

  &-touch-bar {
    display: flex;
  }

  &-calendar {
    width: 167px;
    height: 31px;
    background-color: $color-calendar;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      text-align: center;
    }
  }

  &-comment {
    display: flex;
    padding: 10px 15px;

    &-icon {
      display: block;
      background: url("../assets/icons/chatbox-ellipses.svg") no-repeat;
      width: 15px;
      height: 16px;
      margin-right: 10px;
    }

    &-text {
      font-size: 11px;
      text-align: center;
      vertical-align: middle;
    }
  }

  &-like {
    display: flex;
    padding: 10px 15px;

    &-icon {
      display: block;
      background: url("../assets/icons/heart.svg") no-repeat;
      width: 16px;
      height: 14px;
      margin-right: 10px;
    }

    &-text {
      font-size: 11px;
      text-align: center;
      vertical-align: middle;
    }
  }

  &-article {
    &-title {

    }

    &-text {
      font-size: 14px;
    }
  }

  &-open {
    width: 165px;
    border: 1px solid red;
    display: flex;
    vertical-align: middle;
    align-items: center;

    &-link {
      text-decoration: none;

      & span {
        text-align: center;
        font-size: 14px;
      }
    }

    &-icon {
      display: block;
      background: url("../assets/icons/arrow-forward.svg") no-repeat;
      width: 15px;
      height: 15px;
      margin-left: 10px;
    }
  }
}